
<div class="container itemspacing">
<div class="graph">
    <p-chart type="line" [data]="data" [options]="options"></p-chart>
</div>
<div class="info">
   <div> <b>{{ items[0].Name }}</b></div> <br>
   <div> Current Price:  {{ items[items.length-1].PricePerUnit }}</div> <br>
   <div> Highest Price:  {{ highestPrice }}</div> <br>
   <div> Lowest Price:  {{ lowestPrice }}</div> <br>
   <div> Final decision:</div> <br>
   <div>{{ esito }}</div> <br>
   <p-button (click)="calcolaEsito()"> RELOAD</p-button>
</div>
</div>
