.preview{
    padding: 10px;
}

.card-body{
    display: flex;
    gap: 16px;
    background-color: #313030;
    margin-bottom: 15px;
    border-radius: 20px;
    height: 60px;
}

.section{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btngoto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
