.preview{
    padding: 10px;
}

.card-body{
    display: flex;
    gap: 16px;
    background-color: #313030;
    margin-bottom: 15px;
    border-radius: 20px;
    height: 60px;
}

.section{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btngoto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.container{
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.cardcolor{
    color: white;
    background-color: #313030;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

.blink-green {
  color: #22c55e; /* Green-500 */
  font-weight: bold;
  animation: blink 1s infinite;
}

.blink-red {
  color: #ef4444; /* Red-500 */
  font-weight: bold;
  animation: blink 1s infinite;
}


#showOnlyFavs {
  accent-color: gold; /* rende il checkbox giallo se supportato */
}
