<!-- Campo di ricerca -->
<div class="container mb-4 text-center">
  <input type="text" class="form-control w-50 mx-auto" placeholder="Cerca un item..." [(ngModel)]="searchTerm" />
</div>

<!-- Toggle preferiti -->
<div class="text-center mb-3">
  <label class="form-check-label text-light me-2" for="showOnlyFavs">🌟 Mostra solo preferiti</label>
  <input
    id="showOnlyFavs"
    type="checkbox"
    class="form-check-input"
    [(ngModel)]="showOnlyFavorites"
    style="transform: scale(1.2); vertical-align: middle;"
  />
</div>


<div class="mx-auto" style="max-width: 80vw;">
  <div *ngFor="let item of filteredCategorie()" class="mb-3">

    <div class="card p-3 cardcolor">
      <div class="d-flex flex-column flex-md-row align-items-center">
        <!-- Immagine -->
        <img class="preview mb-3 mb-md-0"
          [src]="'https://www.noshydra.com/static/images/items_icons/' + item.iconID + '.png'" alt="Item Icon"
          style="max-width: 100px; max-height: 100px;" />

        <!-- Testo -->
        <div class="d-flex flex-wrap justify-content-between flex-grow-1 ms-md-3 text-center text-md-start"
          style="min-width: 0;">
          <div class="section mx-2 fw-bold d-flex align-items-center" style="min-width: 120px;">
            {{ item.Name }}
            <i class="pi" [ngClass]="{
              'pi-star-fill': isFavorite(item.iconID),
              'pi-star': !isFavorite(item.iconID)
            }" (click)="toggleFavorite(item.iconID)"
              style="margin-left: 8px; cursor: pointer; font-size: 1.2rem; color: gold;"></i>

          </div>
          <div class="section mx-2" [ngClass]="{
            'blink-green': item.status === 'BUY NOW',
            'blink-red': item.status === 'SELL NOW'
            }" style="min-width: 100px;">
            {{ item.status }}
          </div>

          <div class="section mx-2" style="min-width: 150px;">
            Actual Price: {{ item.PricePerUnit }}
          </div>
        </div>

        <!-- Bottone -->
        <p-button class="btngoto mt-3 mt-md-0 ms-md-3" (click)="goTo(item.iconID)" label="Go to details"></p-button>
      </div>
    </div>
  </div>
</div>


