<div *ngFor="let item of categorie" class="card">
    <div class="card-body">
        <img class="preview" [src]="'https://www.noshydra.com/static/images/items_icons/' + item.iconID + '.png'" alt="Item Icon" />
        <div class="section"> {{ item.Name }}</div>
        <div class="section">{{ item.status }}</div>
        <div class="section">Actual Price: {{ item.PricePerUnit}}</div>
        <p-button class="btngoto" (click)="goTo(item.iconID)" label="Go to details"></p-button>
    </div>
</div>

<div class="container"> 
<p-button class="" (click)="refreshData()" label="Refresh Data"></p-button>

</div>
